
.vs/SelfRefreshingCache/DesignTimeBuild/.dtbcache
.vs/SelfRefreshingCache/v16/.suo
*.lock
*.ide
*.dll
*.pdb
*.cache
*.targets
*.exe
.vs/SelfRefreshingCache/v16/Server/sqlite3/storage.ide-shm
.vs/SelfRefreshingCache/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp3.1/Task.SelfRefreshingCache.deps.json
bin/Debug/netcoreapp3.1/Task.SelfRefreshingCache.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Task.SelfRefreshingCache.runtimeconfig.json
obj/Assignment.SelfRefreshingCache.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Assignment.SelfRefreshingCache.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Assignment.SelfRefreshingCache.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/SelfRefreshingCache.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Task.SelfRefreshingCache.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Task.SelfRefreshingCache.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Task.SelfRefreshingCache.csproj.FileListAbsolute.txt
obj/SelfRefreshingCache.csproj.nuget.dgspec.json
obj/SelfRefreshingCache.csproj.nuget.g.props
obj/Task.SelfRefreshingCache.csproj.nuget.dgspec.json
obj/Task.SelfRefreshingCache.csproj.nuget.g.props
